<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Candidate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/candidate-form.css}"/>

</head>
<body>

    <div class="container-fluid">
        <div class="text-center">
            <h2>Create Candidate</h2>
            <hr>
        </div>
        <form action="#" th:action="@{/candidate/new}" th:object="${candidate}" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <h4 class="m-2 mb-4">Profile Information</h4>

                    <input type="hidden" th:field="*{id}">

                    <input type="text" th:field="*{firstName}" class="form-control mb-4 col-8" placeholder="First Name" required/>

                    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-8" placeholder="Last Name" required/>

                    <input id="age" type="number" th:field="*{age}" class="form-control mb-4 col-8" placeholder="Age" required/>

                    <textarea type="text" th:field="*{address}" class="form-control mb-4 col-8" placeholder="Address" cols="40" rows="5" required></textarea>

                    <textarea type="text" th:field="*{bio}" class="form-control mb-4 col-8" placeholder="Bio" cols="40" rows="5" required></textarea>

                    <input type="text" th:field="*{university}" class="form-control mb-4 col-8" placeholder="University" required/>

                    <input type="text" th:field="*{title}" class="form-control mb-4 col-8" placeholder="Current title(i.e Student at ..."/>

                    <input type="hidden" th:field="*{photo}">

                    <label for="email">Email</label>
                    <input id="email" type="text" th:field="*{email}" class="form-control mb-4 col-8" placeholder="Email" required readonly/>

                    <button type="submit" class="btn btn-info col-4">Add</button>
                </div>
                <div class="form-group col-md-4">
                        <h4 class="m-2 mb-4 text-center">Skills</h4>
                        <ul>
                            <li th:each="skill : ${skills}">
                                <div class="form-check mb-4">
                                    <input name="candidateSkill" class="form-check-input largerCheckbox" type="checkbox" th:value="${skill.skillName}">
                                    <label class="form-check-label ml-4" th:text="${skill.skillName}">
                                        TEST
                                    </label>
                                </div>
                            </li>
                        </ul>
                </div>

                <div class="form-group col-md-4">
                    <h4 class="m-2 mb-4 text-center">Languages</h4>
                    <ul>
                        <li th:each="language : ${languages}">
                            <div class="form-check mb-4">
                                <input name="candidateLanguage" class="form-check-input largerCheckbox" type="checkbox" th:value="${language.languageName}">
                                <label class="form-check-label ml-4" th:text="${language.languageName}">
                                    TEST
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>