<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${candidate.getFirstName() + ' ' + candidate.getLastName()}">Candidate</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/jobs.css}"/>
    <link rel="stylesheet" th:href="@{/css/candidate-display.css}"/>


    <script src="https://kit.fontawesome.com/26d9a9927d.js"></script>
</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar bg-dark navbar-dark">

        <a class="navbar-brand" href="#" th:href="@{/}">Brand</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/jobs}">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/candidates}">Candidates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>
            </ul>

            <a class="btn btn-primary ml-auto linkedin-button" href="#" th:href="@{authorization/}" role="button">Login as Candidate</a>
            <a class="btn btn-light ml-2 btn-light" href="#" role="button">Login as HR</a>



        </div>
    </nav>

    <h2 class="text-center mt-4" th:text="${candidate.getFirstName() + ' ' + candidate.getLastName()}"></h2>
    <hr>
    <h3 class="ml-4 mb-2">Applications</h3>
    <div class="container-fluid">
        <th:block th:each="app : ${applications}">
            <div class="job-container col-md-6">
                <h4 ><a th:href="@{'/jobs/show/' +  ${app.getJob().getId()}}" th:text=" ${app.getJob().title}"></a></h4>
                <div class="left-side">
                    <p th:text="${app.getJob().description}"></p>
                    <!--<p th:text="'Status: ' + ${job.status}"></p>-->
                    <p th:text="'Company: ' + ${app.getJob().companyName}"></p>
                    <p th:text="'Location: ' + ${app.getJob().location}"></p>
                </div>
            </div>
        </th:block>
    </div>

    <h4 class="ml-4 mb-2">Skills</h4>
    <div>
        <ul>
            <th:block th:object="${skills}" th:each="skill : ${skills}">
                <div class="mb-2">
                    <i class="far fa-lightbulb h-100 skill-icon mr-2" style="line-height: 1.5rem;"></i>

                    <li class="skill-text" th:text="${skill.getSkillName()}">Item description here...</li>
                </div>
            </th:block>
        </ul>
    </div>
    <div class="fluid-controller">

    </div>
</body>
</html>