div {
    /*border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: black;9*/
}

.header-text {
    color: #8f8f8f;
}

ul {
    list-style-type: none;
}

.skill-icon {
    float: left;
    line-height: 1.5rem;
}

.match-icon {

}