<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/jobs.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>

    <script src="https://kit.fontawesome.com/26d9a9927d.js"></script>
</head>
<!--/*@thymesVar id="candidate" type="com.example.summerprojecttest.model.Candidate"*/-->
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar bg-dark navbar-dark">

        <a class="navbar-brand" href="#" th:href="@{/}">Brand</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/jobs}">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Candidates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>
            </ul>

            <a class="btn btn-primary ml-auto linkedin-button" href="#" th:href="@{authorization/}" role="button">Login as Candidate</a>
            <a class="btn btn-light ml-2 btn-light" href="#" role="button">Login as HR</a>



        </div>
    </nav>
    <h1 class="page-title pt-5 pb-1 ">Candidates</h1>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 job-container" th:each="candidate : ${candidates}">
                <div class="left-side">
                    <h2 ><a th:href="@{'candidate/show/' +  ${candidate.id}}" th:text=" ${candidate.firstName + ' ' + candidate.lastName}"></a></h2>
                    <p th:text="${'Age: ' + candidate.age}"></p>
                    <p th:text="${'Applied: ' + candidate.getApplications().size() + ' jobs'}"></p>

                    <!--<a th:href="@{/jobs/updateJob(jobId=${candidate.id})}" class="btn btn-info btn-sm">Update</a>-->
                </div>
                <div class="right-side">
                    <div style="text-align: center">
                        <i class="fas fa-map-marker"></i>
                        <p th:text="${candidate.address}"></p>
                    </div>
                    <div style="text-align: right">
                        <a th:if="${session.isHR}" href="#" th:href="@{'/candidate/blacklist/' + ${candidate.id}}" class="btn btn-info application-button">Blacklist</a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>